*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: #0e7e12;
}
.card{
    background-color: white;
    width: 27%;
    height: 520px;
    margin: 2% auto;
    border-radius: 10px;
}
.top, .body, .bottom{
    font-size: 6em;
}
.top, .bottom{
    padding: 3%;
    color: red;
}
.body{
    margin-top: 20%;
    margin-left: 43%;
}
.bottom{
    color: red;
    margin-top: 19%;
    float: right;
    rotate: 180deg;
}
/* .button{
    position: absolute;
    left:2%;
    top: 80%;
} */
